
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: #f0f0f0;
  line-height: 1.6;
}

.container {
  display: flex;
  height: 100vh;
}

.left-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
  padding: 20px;
  border-right: 1px solid #2c2c2c;
}

.left-section img {
  width: auto; 
  height: auto;
  max-width: 100%;
  max-height: 80vh;
  border-radius: 8px;
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  gap: 25px;
  background-color: #1e1e1e;
}

h2 {
  font-size: 2rem;
  color: #ffdd99;
  margin-bottom: 10px;
}

p {
  font-size: 1.1rem;
  color: #ccc;
  max-width: 90%;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

ul li {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #2e2e2e;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

ul li:hover {
  background-color: #3a3a3a;
}


ul li img {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.2));
}


.btn {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #e53935;
  color: #111;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: #ddd;
}
